@import "https://fonts.googleapis.com/css?family=Lato:400,700";

html,
body {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=================*/
/*== nav section ==*/
/*=================*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
  background-color: darkred;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  margin: 0;
  margin-right: 2rem;
}
.nav-list li {
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: yellow;
  background: darkslateblue;
}

/*=====================*/
/*== welcome section ==*/
/*=====================*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  margin-top: 70px;
  /* height: 100vh; */
  background-color: lightgrey;
}

.welcome-section > div {
  width: 80%;
}

#imgPortrait {
  margin-top: 40px;
  float: left;
  width: 200px;
  height: auto;
}

.welcome-section h1 {
  color: darkslategray;
  font-size: 6rem;
  margin: 40px 0 10px 0;
}

.welcome-section h2 {
  color: darkred;
  font-size: 4rem;
  margin: 0 0 10px 0;
}

.welcome-section p {
  color: darkslategray;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.navlink {
  font-weight: 600;
  text-decoration: none;
}

.navlink:hover {
  color: darkslategray;
}

p.callToAction {
  color: darkred;
}

@media only screen and (min-width: 320px) and (max-width: 468px) {
  #imgPortrait {
    float: left;
    width: 200px;
    height: auto;
    margin: 50px;
  }
}

/*===============================*/
/*== Projects and work section ==*/
/*===============================*/
.projects-section {
  width: 100%;
  min-height: 80vh;
  min-width: 300px;
  text-align: center;
  padding: 6rem 0;
  background: darkslateblue;
}

#projects header {
  text-align: center;
  font-size: 5rem;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 2px auto;
  margin-bottom: 6rem;
}

.project {
  background: rgba(3, 3, 3, 0.8);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-tile {
  padding: 30px 0 60px;
  color: white;
  text-decoration: none;
}

.project-image {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.project-title {
  text-align: center;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.project-tile:hover {
  color: yellow;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

.btn-ShowMore {
  font-size: 2rem;
  background: rgba(3, 3, 3, 0.8);
}

.btn-ShowMore:hover {
  background: darkred;
}

/*=====================*/
/*== Contact section ==*/
/*=====================*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 300px;
  min-height: 80vh;
  background-color: rgba(3, 3, 3, 0.8);
}

.contact-section h3 {
  font-size: 3rem;
}

.contact-list {
  font-size: 3rem;
  display: flex;
}

.contact-list li {
  list-style: none;
}

.contact-list a {
  display: block;
  font-size: 2.2rem;
  padding: 3rem;
  color: white;
  text-decoration: none;
}

.contact-list a:hover {
  color: yellow;
  background: darkslateblue;
}

@media only screen and (min-width: 320px) and (max-width: 468px) {
  .contact-list {
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

  }
}